
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2 class="text-center">Registro de Autor</h2>
    <form action="@Url.Action("Agregar", "Autores")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group col-5 offset-md-2 mt-3">
            <label class="mb-2 " for="nombre">Nombre del Autor:</label>
            <input placeholder="Escriba el Nombre del Autor" type="text" class="form-control" id="nombre" name="nombre" required >
            <button type="submit" class="btn btn-primary mb-2 mt-2 " >
                Registrar Autor
            </button>
            <div>
                @Html.ActionLink("Volver a la Lista", "Index")
            </div>
        </div>
     
    </form>
</div>


