
@{
    ViewData["Title"] = "Autores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">


    <h2 class="fs-30 text-center mt-3">Lista de Autores</h2>

    <div class="form-group mx-auto px-1 py-1  m-2  mb-1 w-50">

        <a class="btn btn-success" href="@Url.Action("Agregar","Autores")">
            Agregar Autor</a>
        
        <hr>
    </div>

    <table id="tabla" class="table table-striped h-30 w-50 mx-auto text-center ">
        <thead >
            <tr>
                <th scope="col"  class="w-25">Id Autor</th>
                <th scope="col" class="w-75">Nombre Autor</th>
            </tr>
        </thead>
        <tbody>        
            @foreach (var autor in Model)
            {
                <tr>
                    <td scope="row">@autor.Id</td>
                    <td>@autor.Nombre</td>
                    <td>
                        <a class="fa-solid fa-trash " style="color: #df0c0c;" href="@Url.Action("Eliminar", "Autores", new { id = autor.Id })">
                           
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



